<html>
<head>
  <link rel="icon" type="image/png" href="icon.png">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
    }
    table, th, td {
      border: 1px solid lightgray;
    }
    th, td {
      height: 2rem;
      padding: 0 0.5rem;
      white-space: nowrap;
      overflow: scroll;
    }
    th {
      background-color: beige;
    }
    input {
      padding: 0.5rem 0.25rem;
    }
    #page_controls > button {
      margin: 1rem;
      padding: 0.5rem 1.5rem;
    }
  </style>
  <script>
    window.data = {{data}}
    window.pageIndex = 0
    window.pageSize = 20
    window.food_categories = {
      '1': 'Dairy & Eggs',
      '2': 'Herbs',
      '9': 'Fruits',
      '11': 'Veggies',
      '12': 'Seeds',
      '15': 'Fish',
      '16': 'Legumes',
      '20': 'Grains'
    }

    const DENOMINATOR_WEIGHT = '100 g weight'
    const DENOMINATOR_ENERGY = '100 kcal'
    const DENOMINATOR_FAT = '1 g fat'

    const CONSUMER = {
      MALE_0_6_MO: 'Male (0 through 6 mo)',
      MALE_7_12_MO: 'Male (7 through 12 mo)',
      MALE_1_3_Y: 'Male (1 through 3 y)',
      MALE_4_8_Y: 'Male (4 through 8 y)',
      MALE_9_13_Y: 'Male (9 through 13 y)',
      MALE_14_18_Y: 'Male (14 through 18 y)',
      MALE_19_30_Y: 'Male (19 through 30 y)',
      MALE_31_50_Y: 'Male (31 through 50 y)',
      MALE_51_70_Y: 'Male (51 through 70 y)',
      MALE_71_Y: 'Male (> 70 y)',
      FEMALE_0_6_MO: 'Female (0 through 6 mo)',
      FEMALE_7_12_MO: 'Female (7 through 12 mo)',
      FEMALE_1_3_Y: 'Female (1 through 3 y)',
      FEMALE_4_8_Y: 'Female (4 through 8 y)',
      FEMALE_9_13_Y: 'Female (9 through 13 y)',
      FEMALE_14_18_Y: 'Female (14 through 18 y)',
      FEMALE_19_30_Y: 'Female (19 through 30 y)',
      FEMALE_31_50_Y: 'Female (31 through 50 y)',
      FEMALE_51_70_Y: 'Female (51 through 70 y)',
      FEMALE_71_Y: 'Female (> 70 y)',
      PREGNANCY_UNDER_18_Y: 'Pregnancy (<= 18 y)',
      PREGNANCY_19_50_Y: 'Pregnancy (19 through 50 y)',
      LACTATION_UNDER_18_Y: 'Lactation (<= 18 y)',
      LACTATION_19_50_Y: 'Lactation (19 through 50 y)'
    }

    // Source:
    //   https://www.nap.edu/read/11537/chapter/21
    const RDA = {
      VITAMIN_C: { unit: 'mg', stages: {
        [CONSUMER.MALE_0_6_MO]: { type: 'AI', amount: 40},
        [CONSUMER.MALE_7_12_MO]: { type: 'AI', amount: 50},
        [CONSUMER.MALE_1_3_Y]: { type: 'RDA', amount: 15},
        [CONSUMER.MALE_4_8_Y]: { type: 'RDA', amount: 25},
        [CONSUMER.MALE_9_13_Y]: { type: 'RDA', amount: 45},
        [CONSUMER.MALE_14_18_Y]: { type: 'RDA', amount: 75},
        [CONSUMER.MALE_19_30_Y]: { type: 'RDA', amount: 90},
        [CONSUMER.MALE_31_50_Y]: { type: 'RDA', amount: 90},
        [CONSUMER.MALE_51_70_Y]: { type: 'RDA', amount: 90},
        [CONSUMER.MALE_71_Y]: { type: 'RDA', amount: 90},
        [CONSUMER.FEMALE_0_6_MO]: { type: 'RDA', amount: 40},
        [CONSUMER.FEMALE_7_12_MO]: { type: 'RDA', amount: 50},
        [CONSUMER.FEMALE_1_3_Y]: { type: 'RDA', amount: 15},
        [CONSUMER.FEMALE_4_8_Y]: { type: 'RDA', amount: 25},
        [CONSUMER.FEMALE_9_13_Y]: { type: 'RDA', amount: 45},
        [CONSUMER.FEMALE_14_18_Y]: { type: 'RDA', amount: 65},
        [CONSUMER.FEMALE_19_30_Y]: { type: 'RDA', amount: 75},
        [CONSUMER.FEMALE_31_50_Y]: { type: 'RDA', amount: 75},
        [CONSUMER.FEMALE_51_70_Y]: { type: 'RDA', amount: 75},
        [CONSUMER.FEMALE_71_Y]: { type: 'RDA', amount: 75},
        [CONSUMER.PREGNANCY_UNDER_18_Y]: { type: 'RDA', amount: 80},
        [CONSUMER.PREGNANCY_19_50_Y]: { type: 'RDA', amount: 85},
        [CONSUMER.LACTATION_UNDER_18_Y]: { type: 'RDA', amount: 115},
        [CONSUMER.LACTATION_19_50_Y]: { type: 'RDA', amount: 120}
      }}
    }

    function configureDenominatorSelector() {
      const denominator_selector = document.getElementById("denominator_selector")
      for (let denominator of [
            DENOMINATOR_WEIGHT, DENOMINATOR_ENERGY, DENOMINATOR_FAT]) {
        let option = document.createElement("option")
        option.value = denominator
        option.innerText = denominator
        denominator_selector.appendChild(option)
      }

      denominator_selector.addEventListener("change", event => {
        window.pageIndex = 0
        rerender()
      })
    }

    // Food And Nutrition Board Life Stage Groups
    function configureConsumerSelector() {
      const consumer_selector = document.getElementById("consumer_selector")
      for (let consumer of Object.values(CONSUMER)) {
        let option = document.createElement("option")
        option.value = consumer
        option.innerText = consumer
        consumer_selector.appendChild(option)
      }

      consumer_selector.addEventListener("change", event => {
        window.pageIndex = 0
        rerender()
      })
    }

    function configureNutrientSelector() {
      const nutrient_selector = document.getElementById("nutrient_selector")
      const nutrient_ids = new Set()
      const nutrients = []
      for (let row of window.data) {
        const id = row[2]
        if (nutrient_ids.has(id)) continue
        nutrient_ids.add(id)
        nutrients.push({ id, name: row[3] })
      }
      nutrients.sort((a, b) => a.name.localeCompare(b.name))

      for (let nutrient of nutrients) {
        let option = document.createElement("option")
        option.value = nutrient.id
        option.innerText = nutrient.name
        nutrient_selector.appendChild(option)
      }

      nutrient_selector.addEventListener("change", event => {
        window.pageIndex = 0
        rerender()
      })
    }

    function configureCategoriesSelector() {
      const categories_selector = document.getElementById("categories_selector")
      const category_ids = new Set()
      const categories = []
      for (let row of window.data) {
        const id = row[1]
        if (category_ids.has(id)) continue
        category_ids.add(id)
        categories.push({ id, name: window.food_categories[id]})
      }

      for (let category of categories) {
        let label = document.createElement("label")

        let input = document.createElement("input")
        input.checked = true
        input.type = "checkbox"
        input.id = category.id
        input.addEventListener("change", event => {
          window.pageIndex = 0
          rerender()
        })
        label.appendChild(input)

        let text = document.createTextNode(category.name)
        label.appendChild(text)

        categories_selector.appendChild(label)
      }
    }

    function configureDataTable() {
      const food_categories = document.getElementById("categories_selector")
      const selectors = food_categories.getElementsByTagName("input")
      let desired_categories = []
      for (let selector of selectors) {
        if (selector.checked) {
          desired_categories.push(selector.id)
        }
      }

      const nutrient = document.getElementById("nutrient_selector").value
      const denominator = document.getElementById("denominator_selector").value
      const consumer = document.getElementById("consumer_selector").value

      const food_filter = document.getElementById("food_filter").value.toLowerCase()

      const data_table = document.getElementById("data_table")

      // Remove all rows except for the heading
      for (let tbody of data_table.tBodies) {
        data_table.removeChild(tbody)
      }
      let tbody = data_table.createTBody()

      let filteredData = window.data.filter(row => {
        return desired_categories.includes(row[1]) && row[2] === nutrient
      })
      if (food_filter) {
        filteredData = filteredData.filter(row => {
          return row[0].toLowerCase().includes(food_filter)
        })
      }

      if (denominator === DENOMINATOR_ENERGY) {
        filteredData.sort((a, b) => {
          return parseFloat(b[6]) - parseFloat(a[6])
        })
      } else if (denominator === DENOMINATOR_FAT) {
        filteredData.sort((a, b) => {
          return parseFloat(b[7]) - parseFloat(a[7])
        })
      } else if (denominator === DENOMINATOR_WEIGHT) {
        filteredData.sort((a, b) => {
          return parseFloat(b[5]) - parseFloat(a[5])
        })
      }

      const num_pages = filteredData.length % window.pageSize == 0 ?
        filteredData.length / window.pageSize :
        (Math.floor(filteredData.length / window.pageSize) + 1)

      for (let [j, row] of filteredData.entries()) {
        if (j < pageIndex * window.pageSize) continue;
        if (j === (pageIndex + 1) * window.pageSize) break;

        let tr = document.createElement("tr")
        for (let [i, col] of row.entries()) {
          if ([1, 2, 4, 6, 7].includes(i)) continue
          let td = document.createElement("td")
          if (i === 3) {
            td.innerText = `${col} (${row[i+1].toLowerCase()})`
          } else if (i === 5) {
            if (denominator === DENOMINATOR_WEIGHT) {
              td.innerText = col
            } else if (denominator === DENOMINATOR_ENERGY) {
              td.innerText = row[i + 1]
            } else if (denominator === DENOMINATOR_FAT) {
              td.innerText = row[i + 2]
            }
            if (row[3] === 'Vitamin C, total ascorbic acid') {
              const daily_dose = RDA.VITAMIN_C.stages[consumer].amount
              td.innerText = 
                `${(td.innerText * 100 / daily_dose).toFixed(1)}%`
            }
          } else {
            td.innerText = col
          }
          tr.appendChild(td)

          if (i == 5) {
            td.style.textAlign = 'right'
          }
        }
        tbody.appendChild(tr)
      }

      return num_pages
    }

    function rerender() {
      const num_pages = configureDataTable()

      let pageNumber = document.getElementById("page_number")
      pageNumber.innerText = `${window.pageIndex + 1} / ${num_pages}`
    }

    function configurePagination() {
      let prevBtn = document.getElementById("prev_page")
      prevBtn.addEventListener("click", event => {
        window.pageIndex--
        if (window.pageIndex === 0) {
          prevBtn.disabled = true
        }
        rerender()
      })

      let nextBtn = document.getElementById("next_page")
      nextBtn.addEventListener("click", event => {
        if (window.pageIndex === 0) {
          let prevBtn = document.getElementById("prev_page")
          prevBtn.disabled = false
        }
        window.pageIndex++
        rerender()
      })
    }

    function configureFoodFilter() {
      let filter = document.getElementById("food_filter")
      filter.addEventListener("keyup", event => {
        rerender()
      })
    }

    window.addEventListener('load', event => {
      configureCategoriesSelector()
      configureNutrientSelector()
      configureDenominatorSelector()
      configureConsumerSelector()
      configurePagination()
      configureFoodFilter()
      rerender()
    })

  </script>
</head>
<body>
  <div id="categories_selector"
       style="padding: 0.5rem 0; display: flex; justify-content: space-between;">
    <strong>Categories:</strong>
  </div>
  <div style="padding: 0.5rem 0; display: flex;">
    <div style="flex: 4;">
      <strong>Nutrient:</strong>
      <select id="nutrient_selector"
              style="padding: 0.5rem; border: none; outline: none;"></select>
    </div>
    <div style="flex: 4;">
      <strong>Per:</strong>
      <select id="denominator_selector"
              style="padding: 0.5rem; border: none; outline: none;"></select>
    </div>
    <div style="flex: 4;">
      <strong>For:</strong>
      <select id="consumer_selector"
              style="padding: 0.5rem; border: none; outline: none;"></select>
    </div>
  </div>
  <div style="padding: 0.5rem 0;">
    <strong>Food filter:</strong>
    <input id="food_filter" style="margin-left: 1rem; width: 25rem;">
  </div>
  <table id="data_table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Nutrient</th>
        <th>Amount</th>
      </tr>
    </thead>
  </table>
  <div style="display: flex; align-items: baseline; justify-content: space-between;">
    <div>Food nutrient data is provided by <i>U.S. Department of Agriculture, Agricultural Research Service. FoodData Central, 2019. <a href="https://fdc.nal.usda.gov/">fdc.nal.usda.gov</a>.</i></div>
    <div id="page_controls"
         style="display: flex; align-items: baseline;">
      <button disabled id="prev_page">Prev</button>
      <div id="page_number">1</div>
      <button id="next_page">Next</button>
    </div>
  </div>
</body>
</html>
